/* Styling untuk tabel */
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Hover effect untuk baris tabel */
  tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.2s;
  }
  
  /* Styling untuk tombol */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }

  .checkout-button{
    margin-top: 10px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: yellow;
   
  }
  
  /* Styling untuk Total Harga */
  .total-amount {
    font-weight: bold;
    font-size: large;
  }

  .quantity-input{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .quantity-input input{
    border: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    outline: none;
  }
  
  .quantity-input button{
    color: black;
    background-color: transparent;
  }
/* CSS */
.button-71 {
  background-color: #d0001c;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  padding: 11px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 100%;
}

.button-71:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

  
  

@media (max-width: 768px) {
    .container{
        width: 100%;
        font-size: 2.1vw;
    }

    .button-71{
        font-size: 2.1vw;
        padding: 10px 20px ;
    }

    .button-68{
        font-size: 2.1vw;
        padding: 10px 18px;
    }

    .total-amount {
        font-weight: bold;
        font-size: larger;
      }

    h1{
        font-size: 20px;
    }
      
}